extends layout

block content
  .row.mx-2
    h1.col-11= title
    a.col-1(href="/handbook")
      img(src="/images/handbook.png", alt="User Manual", width="75px")

  .row.m-4
    .col-3.text-center.p-4
      h2.justify-content-start Username
      h4 Score: 
      p users.score
      a.btn.custom-btn.col-12(href="/logout") LOGOUT
      
    .col-9.box.p-4
        include questions
        
