extends layout

block content
    .container
      h3 Questions:
      form#questions-form
        #questions-list
        
        .row.mx-sm-2.mb-2.d-flex.justify-content-sm-end.justify-content-center
          button.btn.custom-btn(type="submit") Submit Answers
